body{
    background-color: #00022E;
}

.navbar {
    width: 100%;
    padding: 15px 40px;
    background: #111c4f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 0px;
}
.title h1 {
    color: #ffffff;
    font-size: 36px;
}
nav a {
    margin-left: 25px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative; 
    margin-right: 40px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #fff200;
    transition: width 0.3s ease-in-out;
}
nav a:hover::after {
    width: 100%;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    color: white;
}

.carousel-inner {
    display: flex;
    width: 300%;
    transition: transform 1s ease-in-out;
}

.carousel img {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    position: relative;
}

.slide {
    position: relative;
    width: 100%;
}

.caption1 {
    position: absolute;
    top: 24%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffb700;
    padding: 5px;
    font-size: 16px;
}

.caption2 {
    position: absolute;
    top: 24%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffbdbd;
    padding: 5px;
    font-size: 16px;
}

.caption3 {
    position: absolute;
    top: 24%;
    left: 10px;
    transform: translateY(-50%);
    color: #ff00cc;
    padding: 5px;
    font-size: 16px;
}

@keyframes scroll {
    33.33% { transform: translateX(-33.33%); }
    66.66% { transform: translateX(-66.66%); }
    100% { transform: translateX(0); }
}

.destinations{
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

fieldset{
    border: none;
}

#fsingapour{
    border-radius: 10%;
    width: 300px;
    height: 250px;
    position: relative;
    color: #ff00cc;
    text-decoration: none;
}

#fsingapour::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Singapore-at-night.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
    border-radius: 10%;
}

#fcolombo{
    border-radius: 10%;
    width: 300px;
    height: 250px;
    position: relative;
    color: #ffb700;
    text-decoration: none;
}

#fcolombo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Colombo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
    border-radius: 10%;
}

#ffujiyoshida{
    border-radius: 10%;
    width: 300px;
    height: 250px;
    position: relative;
    color: #ffbdbd;
    text-decoration: none;
}

#ffujiyoshida::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("japon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
    border-radius: 10%;
}

fieldset img{
    border-radius: 5%;
}

#accueil {
    margin-bottom: -30%;
}

#Destinations {
    margin-top: -150px;
}

.caption1 h2 {
    background-color: #ffb700;
    color: black;
    border-radius: 10px;
    display: inline-block;
}

.caption2 h2 {
    background-color: #ffbdbd;
    color: black;
    border-radius: 10px;
    display: inline-block;
}
.caption3 h2 {
    background-color: #ff00cc;
    color: black;
    border-radius: 10px;
    display: inline-block;
}

h1 .destinations{
    color: white;
    align-items: center;
}

#Destinations h1 {
    text-align: center;
    color: white;
}

    .footer {
        color: white;
        display: flex;
        justify-content: space-around;
        background-color: #111c4f;
        width: auto;
        padding: 20px 0;
    }

    .contact{
        color: white;
    }

    .emailing {
        color: white;
    }

    input[type="email"] {
        border: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        outline: none;
    }
