* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro", sans-serif;
}
body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #0b112c;
            color: white;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
    }

.navbar {
    width: 100%;
    padding: 15px 40px;
    background: #000C2E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 0px;
}
.title h1 {
    color: #ffffff;
    font-size: 36px;
}
nav a {
    margin-left: 25px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative; 
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #fff200;
}

.Img1 {
    height: calc(100vh - 0px);
    background: url('colombo.png') center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Img1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 1;
}

.Img1 h1 {
    font-size: 200px;
    font-weight: 800;
    color: #FFC605;
    position: relative;
    z-index: 2;
}
.Img2 {
      min-height:100vh;
      background:url('Sri Lanka.png') center/cover no-repeat;
      position:relative;
      padding:100px 80px;
      padding-top: 300px;
}

.pourquoi, .Expériences {
    position: relative;
    z-index: 2;
}

.Img2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 1;
}
.title {
      color:#ffc400;
      font-size:6rem;
      font-weight:800;
      margin-bottom:15px;
      position: relative;
      z-index: 2;
    }

.text {
      font-size:2rem;
      margin-bottom:60px;
      color:#ffc400;
      position: relative;
      z-index: 2;
    }
    li{
      font-size:2rem;
      margin-bottom:20px;
      color:#ffc400;
      position: relative;
      z-index: 2;
    }
       
.Img3 {
     min-height:100vh;
      background:url('parc-tayrona-caraibe-colombie-pawel.jpeg') center/cover no-repeat;
      position:relative;
      padding:100px 80px;
      padding-top: 300px;
}

.infos_pratique {
    position: relative;
    z-index: 2;
}

.Img3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 1;
}
.button1 {
        background-color: #ffc400;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #e6b800;
    }
.footer {
        color: white;
        display: flex;
        justify-content: space-around;
        background-color: #111c4f;
        width: auto;
        padding: 50px 0;
    }

    .contact{
        color: white;
    }

    .emailing {
        color: white;
    }

    input[type="email"] {
        border: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        outline: none;
    }
